
@import 'reset';
@import 'variables';
@import 'mixins';

#main-nav {
  background: $deep-blue;
  ul {
    width: 100%;
    @include clear-fix;
  }
  li {
    float: left;
    width: (100% / 6);
    @include mQ(600px) {
      width: 100%;
    }
  }
  a {
    color: $soft-white;
    text-decoration: none;
    padding: 16px;
    display: block;
    text-align: center;
    // Pseudo classes need & to work
    &:hover {
      background: lighten($deep-blue, 6);
    }
  }
}// end main-nav

section h1 {
  font-size: $section-heading;
  color: $deep-blue;
}

.lead-banner {
  @include banner;
  text-align: right;
}

.lessons-banner {
  @include banner;
  li {
    text-transform: uppercase;
    font-size: 20px;
    max-width: 500px;
    margin: 60px 0;
  }
}

#services {
  margin-bottom: 60px;
  li {
    float: left;
    box-sizing: border-box;
    text-align: center;
    width: (100% / 3);
  }
  img {
    width: 60%;
    margin: 20px 20%;
  }
  a {
    text-decoration: none;
    color: $deep-blue;
    font-weight: bold;
    &:hover {
      color: complement($deep-blue);
    }
  }
  ul {
    @include clear-fix;
  }
}

#projects li {
  @include grid(4, 2%);
  img {
    width: 100%;
  }
}
